<div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About me
                <small>It's Nice to Meet You!</small>
            </h1>
            <p class="text-justify lead">I hope that this site will help you to unleash your potential and become the best version of yourself. If you are a coach you can improve the communication with your players by regularly updating their profiles and giving them feedback on what they should do better. As a player on the other side you can be sure that you are on the right track by analyzing your performance and train harder and smarter!</p>
        </div>
    </div>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="page-header">Proudly presented by</h2>
        </div>
        <div class="col-md-2 col-md-offset-5 text-center">
            <img class="img-circle img-responsive img-center" src="~/Content/Images/me.jpg" alt="">
        </div>
        <div class="col-md-4 col-md-offset-4 text-center">
            <h3>
                Aleksandar Ikonomov<br />
                <small>Telerik Academy Student</small>
            </h3>
            <p class="text-center lead">I like learning new things and play football from time to time.</pclass="text-justify>
        </div>
    </div>
    <hr>

</div>