
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using CoachLancer.Web.Areas.Admin.Models
@model CreateProfileViewModel
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                @using (Html.BeginForm("Create","Coaches", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="panel-footer">
                        <button>Sumbit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#datepicker').datepicker({
                dateFormat: "dd-mm-yy",
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                minDate: new Date(1900, 1, 1),
                maxDate: "0D",
                yearRange: "1900:" + new Date().getFullYear(),
                defaultDate: 0
            });

        });
    </script>
}
